 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a full stack .net developer with a passion for building things. I love building software out through the whole stack and seeing great ideas come to fruition. I enjoy working with Asp.Net, AngularJs and Sql.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you would like to view some of the projects I'm currently working on please visit my <a style="color: white" href="http://github.com/austinoverholt">Github</a>. Feel free to contact me directly at austinoverholt@gmail.com.
I'd be interested in hearing of any opportunities that you might have.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>